body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#background-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 900px;
  background-image: url("../images/background1.png");
  background-size: cover;
  z-index: 1; /* Send to the background */
}

#game-screen {
  display: grid;
  grid-template-columns: repeat(5, 91px); /* Adjustments */
  gap: 50px;
  text-align: center;
  margin-top: 93px;
  margin-left: 42px;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  /* opacity: ; */
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.circle.pattern-1 {
  background-image: url("../images/light-on-.png");
}

.circle.pattern-2 {
  background-image: url("../images/light-patter-2.png");
}

.circle.pattern-3 {
  background-image: url("../images/wrong-light-.png");
}

#score,
#timer,
#lives {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  
}

#main-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 900px;
  background-size: cover;
  z-index: 9999; /* Ensure it's on top of the game screen */
}

#main-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-page button {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#instructions-page {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
    max-width: 900px; 
    width: 80%;
    z-index: 9999; /* Ensure it's on top of other elements */
  
    /* Maybe add a background image */
    background-image: url("../images/instructions-background.jpg");
    background-size: cover;
    background-position: center;
  }
  
  #instructions-page h2 {
    font-size: 24px;
    color: rgb(7, 23, 163)313; 
  }
  
  #instructions-page ol {
    list-style: none;
    padding: 0;
  }
  
  #instructions-page li {
    margin-bottom: 15px;
    font-size: 16px;
    color:rgb(7, 23, 163)313; 
  }
  
  #instructions-page p {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(7, 23, 163)313;
    font-weight: bold;
  }
  

/* ending pages */
.ending-page {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 900px;
    background-size: cover;
    z-index: 9999;
    text-align: center;
  }
  
  .ending-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ending-page button {
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }
  